.remark-slide-content:not(.pic) {
    background-repeat: no-repeat;
    background-position: 99% -3%;
    background-size: 8%;
/*     background-image: url(images/plb.jpeg); */
}

div.extra-details:not(.pic) {
/*   background-image: url("images/extra-details.png"), url(images/plb.jpeg); */
  background-position: 0.5% 1%, 99% -3%;
  background-size: 4%, 8%;
}

.remark-slide-content:not(.pic) div.remark-slide-number {
	top: 16px;
	right: 112px
}

.debug {
    display:none;
}


/* Viz integration */
.viz-center {
    padding: 10px;
    text-align:center;
}
.viz-float-left {
    padding: 10px;
    float:left;
}
.viz-float-right {
    padding: 10px;
    float:right;
}